.content-principal {
    display: flex;
    justify-content: center;
    width: 100%;
}

#image-central {
    margin-top: 1%;
    width: 6%;
    opacity: 50%;
}

.title {
    color: var(--color-second);
    margin-top: 3%;
    text-transform: uppercase;
    font-size: 2.5rem;
}

.study {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    min-height: 40%;
}

.study1 {
    background-color: black;
    text-align: center;
    padding: 6%;
    border-right: 1px solid var(--color-first);
    width: 33%;
}

.study2 {
    background-color: black;
    text-align: center;
    padding:6%;
    width: 33%;
}

.study-title {
    color: white;
    font-size: 150%;
    padding-bottom: 5%;
}

.study-description {
    color: var(--color-second);
}

.study-dates {
    color: var(--color-first);
    font-style: italic;
    font-size: 0.8em;
    padding-bottom: 5%;
}

.study-place {
    color: white;
    opacity: 30%;
}

@media screen and (max-width: 820px) {

    .title {
        margin-top: 5%;
        font-size: 3.5em;
    }

    .study {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        min-height: 40%;
    }

    .study1 {
        border-right: 0px solid var(--color-first);
        border-top: 1px solid var(--color-first);
        width: 80%;
    }
    
    .study2 {
        background-color: black;
        border-top: 1px solid var(--color-first);
        padding: 6%;
        width: 80%;
    }

    .study-title {
        color: white;
        font-size: 2.4em;
        padding-bottom: 3%;
    }

    .study-description {
        font-size: 1.6em;
    }
    
    .study-dates {
        font-size: 1.4em;
        padding-bottom: 1%;
    }

    .study-place {
        font-size: 1.3em;
    }
    

}

@media screen and (max-width: 465px) {

    #image-central {
        width: 12%;
    }
    .title{
        font-size: 2.5em;
        margin-top: 5%;
    }

    .study {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        min-height: 40%;
    }

    .study1 {
        border-right: 0px solid var(--color-first);
        border-top: 1px solid var(--color-first);
        width: 80%;
    }
    
    .study2 {
        border-top: 1px solid var(--color-first);
        width: 80%;
    }

    .study-title {
        font-size: 150%;
        padding-bottom: 5%;
    }
    
    .study-description {
        font-size: 1.2em;
    }
    
    .study-dates {
        font-size: 1em;
        padding-bottom: 2%;
    }
    
    .study-place {
        font-size: 1em;
    }

}
