.title {
    font-size: 2.5rem;
    font-weight: 50;
    color: var(--color-second);
    margin-top: 3%;
    margin-bottom: 1%;
    text-transform: uppercase;
}

#image-central {
    width: 8%;
    opacity: 40%;
}

.link-black:hover {
    color: black;
}

.content-principal {
    display: flex;
    justify-content: center;
    text-align: center;
}

.experience {
    background-color: black;
    margin: 1%;
    text-align: center;
    padding:3%;
    width: 20%;
    border: 1px solid var(--color-first);
    border-radius: 0.7em;
    transition: background-color 0.5s;
    display: flex;
    flex-direction: column;
    min-width: 30%;
}

/*.experience:hover {
    background-color: var(--color-first);
    color: black;
    border: 1px solid var(--color-first)
}*/

.title-experience {
    text-transform: uppercase;
    font-size: 1.4rem;
    margin-bottom: 3%;
    color: white;
}

.content-experience {
    text-align: center;
    list-style: none;
    min-height: 25%;
}

.duration {
    color:aqua;
    opacity: 50%;
}

.langage {
    text-transform: uppercase;
    padding-bottom: 1%;
    color:aqua;
}

.device {
    color: grey;
}

.description {
    color: grey;
    opacity: 50%;
}

.logos-footer {
    display: flex;
    justify-content: center;
    opacity: 30%;
    margin-bottom: 3%;
}


@media screen and (max-width: 465px) {

    .title {
        margin-top: 5%;
        font-size: 3em;
    }

    #image-central {
        margin-top: 2%;
        margin-bottom: 2%;
        width: 30%;
    }

    .content-principal {
        display: flex;
        flex-direction: column;        
        text-align: center;
        align-items: center;
    }

    .experience {
        background-color: black;
        margin: 2%;
        text-align: center;
        padding:3%;
        width: 80%;
        border: 1px solid var(--color-first);
        transition: background-color 0.5s;
    }

    .title-experience {
        margin-bottom: 1%;
        font-size: 1.5em;
    }

}

