* {
    font-family: Oswald, Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-first: rgb(0, 127, 166);
    --color-second: rgb(77, 222, 255);
}

body {
    background-color: black;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-first);
    padding:0.5%;
    height: 2%;
    color:white;
    width: 100%;
}

.title {
    font-size: 3rem;
    font-weight: 50;
    color: var(--color-second);
    margin-top: 3%;
    text-transform: uppercase;
}

.nav-bar img {
    width: 40%;
}

.nav-bar a {
    width: 5%;
}
.home{
    padding-left: 1%;
}

#image-central {
    width: 15%;
    opacity: 20%;
    z-index: 1;
    position: relative;
    top: left;
}

.menu-hide {
    position:fixed; 
    z-index:9999; 
    right:-250px; 
    top:0px; 
    background:var(--color-first); 
    padding-right: 2%; 
    width: 12%; 
    height: 30%;
    list-style: none;
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    transition: right 0.7s ease;
}

.active{
    right: 0px;
}

.menu-hide img{
    width: 15%;
    padding: 2%;
}

#icone-menu-h{
    text-align: right;
    padding-top: 10px;
}

.menu-hide ul li {
    list-style: none;
    text-align: right;
}

.link-black:hover{
    color: black;
}

.container2 {
    display: flex;
    justify-content: center;
    text-align: center;
}

.experiences {
    z-index: 3;
    background-color: black;
    margin: 1%;
    text-align: center;
    padding:3%;
    width: 20%;
    border: 1px solid var(--color-first);
    transition: background-color 0.5s;
}

.experiences:hover{
    background-color: var(--color-first);
    color: black;
    border: 1px solid var(--color-first)
}

.title-experiences {
    text-transform: uppercase;
    font-size: 2rem;
    margin-bottom: 10%;
}

.content-experiences ul li {
    text-align: center;
    list-style: none;
    color:black;
}

.legend {
    text-transform: uppercase;
    color: white;
    font-size: O.5rem;
    margin-top: 2%;
    margin-bottom: 0.5%;
    opacity: 30%;
}

.logos-footer {
    display: flex;
    justify-content: center;
    opacity: 30%;
}

footer img{
    width: 3%;
}

@media screen and (max-width: 414px) {

    .nav-bar img {
        width: 80%;
    }

    .title{
        margin-top: 5%;
        font-size: 4em;
    }

    #image-central {
        margin-top: 2%;
        margin-bottom: 2%;
        width: 30%;
    }

    footer img {
        width: 10%
    }

    #menu-hide{
        width: 45%;
        height: 40%;
        font-size: 2em;
    }

    .container2 {
        display: flex;
        flex-direction: column;        
        text-align: center;
        align-items: center;
    }

    .experiences {
        background-color: black;
        margin: 2%;
        text-align: center;
        padding:3%;
        width: 90%;
        border: 1px solid var(--color-first);
        transition: background-color 0.5s;
    }

    .title-experiences{
        margin-bottom: 1%;
    }

    .legend{
        font-size: 0.7em;
        padding: 1%;
    }
}

