.menu-hide {
    position:fixed; 
    z-index:9999; 
    right:-700px; 
    top:0px; 
    background:var(--color-third); 
    width: 25%; 
    height: 100vh;
    list-style: none;
    display: flex;
    flex-direction: column;
    font-size: 1.4em;
    text-align: right;
    transition: right 1s ease;
}

.link-black:hover {
    color: black;
}

.active {
    right: 0px;
}

.menu-hide ul li {
    list-style: none;
    text-align: right;
    margin: 20px;
}

.menu-hide ul li a {
    color: white;
}

.menu-hide a img {
    width: 25px;
}

#icone-menu-h {
    text-align: right;
    padding-top: 15px;
    padding-right: 20px;
}

@media screen and (max-width: 768px) {
    .menu-hide{
        width: 35%;
        height: 100%;
        font-size: 1.3em;
        background:var(--color-third); 
    }

    .menu-hide li {
        margin-bottom: 10%;
    }
}

@media screen and (max-width: 465px) {
    .menu-hide{
        width: 45%;
        height: 100%;
        font-size: 1.3em;
        background:var(--color-third); 
    }

    .menu-hide li {
        margin-bottom: 10%;
    }
}