.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-first);
    padding:0.5%;
    height: 50px;
    color:white;
    width: 100%;
}

.menu-laptop {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    opacity: 80%;
    font-size: 0.8em;
}

.menu-laptop a {
    color: white;
}

.menu-laptop p {
    margin-right: 25px;
}

.nav-bar img{
    width: 50%;
}

.button-home {
    margin-left: 20px;
}

.button-home a {
    color: white;
    width: 40px;
    height: 40px;
}

.button-home a img {
    width: 25px;
}

@media screen and (min-width: 821px) {

    #button-menu-burger {
        display: none;
    }
}

@media screen and (max-width: 820px) {
    .menu-laptop {
        display: none;
    }

    .nav-bar img {
        width: 50%;
    }

    .home{
        margin-left: 10px;
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .button-home a img {
        width: 35px;
    }

    .button-home {
        margin-left: 15px;
    }
}

@media screen and (max-width: 465px) {

    .nav-bar img {
        width: 50%;
    }

    .home{
        margin-left: 10px;
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .button-home {
        margin-left: 15px;
    }
}